@import url('chillax.css');

body{
  font-family: 'Chillax-Regular';
  background: black;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 1000px;
}
h1{
  font-family: 'Chillax-Semibold';
  color: Lime;
}
p, ul, a{
  color: white;
}
img{
  width: 1000px;
}