@import url('chillax.css');

body{
  font-family: 'Chillax-Regular';
  background: black;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
h1{
  font-family: 'Chillax-Semibold';
  color: limegreen;
}
p, ul{
  color: white;
  width: 720px;
}
a{
  color: limegreen;
}
img{
  width: 720px;
}