@import url('chillax.css');

body{
  font-family: 'Chillax-Regular';
  background: black;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
body nav{
  width: 1080px;
}
body ul li strong{
  font-family: 'Chillax-Medium';
  font-size: 30px;
  color: limegreen;
}
body p{
  color: white;
  width: 1080px;
  font-size: 16px;
  margin-top: 16px;
}
body a{
  color: limegreen;
}
body img{
  width: 1080px;
}
[role="button"]{
  background-color: limegreen;
  color: white;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
}